/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

**.vs/
**.idea/
**.gradle/
**.consulo/

*.csproj
*.DotSettings
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*LICENSE.meta
*.md.meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.aab
*.unitypackage
*.app
*.DS_Store

*crashlytics-build.properties
Assets/_Debug/DontDestroyGlobalSettings.asset
Assets/_Develop/Fonts/LightNovelPOPv2 SDF.asset
Assets/_Develop/Fonts/NatoSansCJK/NotoSansCJKsc.asset
Assets/_Develop/Fonts/RiiCookie/RiiCookieRt.asset
Assets/_Develop/Fonts/Yasashisa/YasashisaGothicBold.asset
Assets/_Develop/Fonts/Yawaraka/yawarakadragon.asset
Assets/_Develop/Prefabs/RootLifetimeScope.prefab
Assets/_Develop/Prefabs/Treasure/Treasure.prefab
Assets/_Develop/Preload/EditorGlobal.asset
Assets/_Develop/Preload/MornAspectGlobal.asset
Assets/_Develop/Preload/MornLocalizeGlobal.asset
Assets/_Develop/Preload/MornSoundGlobal.asset
Assets/_Develop/Preload/MornUGUIGlobal.asset
Assets/_Develop/Preload/MornVolumeGlobal.asset
Assets/_Develop/Preload/VContainerSettings.asset
Assets/_Develop/Settings/InputSettings.asset
Assets/_Develop/Textures/Icon/faceicon_amane.png.meta
Assets/_Develop/Textures/Icon/faceicon_kohaku.png.meta
Assets/_Develop/Textures/Icon/faceicon_morn.png.meta
Assets/_Develop/Textures/Icon/faceicon_nagisa.png.meta
Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Assets/_Debug/DontDestroyGlobalSettings.asset
Assets/_Develop/Fonts/LightNovelPOPv2 SDF.asset
Assets/_Develop/Fonts/NatoSansCJK/NotoSansCJKsc.asset
Assets/_Develop/Fonts/RiiCookie/RiiCookieRt.asset
Assets/_Develop/Fonts/Yasashisa/YasashisaGothicBold.asset
Assets/_Develop/Fonts/Yawaraka/yawarakadragon.asset
Assets/_Develop/Prefabs/RootLifetimeScope.prefab
Assets/_Develop/Prefabs/Treasure/Treasure.prefab
Assets/_Develop/Preload/EditorGlobal.asset
Assets/_Develop/Preload/MornAspectGlobal.asset
Assets/_Develop/Preload/MornLocalizeGlobal.asset
Assets/_Develop/Preload/MornSoundGlobal.asset
Assets/_Develop/Preload/MornUGUIGlobal.asset
Assets/_Develop/Preload/MornVolumeGlobal.asset
Assets/_Develop/Preload/VContainerSettings.asset
Assets/_Develop/Settings/InputSettings.asset
Assets/_Develop/Textures/Icon/faceicon_amane.png.meta
Assets/_Develop/Textures/Icon/faceicon_kohaku.png.meta
Assets/_Develop/Textures/Icon/faceicon_morn.png.meta
Assets/_Develop/Textures/Icon/faceicon_nagisa.png.meta
Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
